<html>

    <style>
        html{
            background-color: #dbf4f1;
        }

        li{
            list-style-type : square;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        div{
            border: 2px solid black;
            border-radius: 5px;
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
        }

        p{
            font-weight: bold;
            margin-left: 15px;
            font-size: large;
        }

    </style>

    <div>
        
        <p>More details of the country <%= Name %></p>

        <ul> 
            <li>Name - <%= Name %></li>
            <li>Continent - <%= Continent %></li>
            <li>Region - <%= Region %></li>
            <li>SurfaceArea - <%= SurfaceArea %></li>
            <li>IndepYear - <%= IndepYear %></li>
            <li>Population - <%= Population %></li>
            <li>LifeExpectancy - <%= LifeExpectancy %></li>
            <li>GNP - <%= GNP %></li>
            <li>GNPOld - <%= GNPOld %></li>
            <li>LocalName - <%= LocalName %></li>
            <li>GovernmentForm - <%= GovernmentForm %></li>
            <li>HeadOfState - <%= HeadOfState %></li>
            <li>Capital - <%= Capital %></li>
            <li>Code2 - <%= Code2 %></li>
        </ul>
    
    </div>

</html>

